@import "theme/colors.scss";

body {
    margin: 0;
    overflow-x: hidden;
}

#mainRouter {
    @extend .full-screen-size;
    font-family: "Raleway", sans-serif;
    margin-top: 60px;
}

.full-screen-size {
    min-height: calc(100vh - 60px);
}

.row{
    margin: 0px !important;
}